TELEGRAM_BOT_TOKEN=
TELEGRAM_USERNAME=MiniAppBot
APP_PUBLIC_HOST=144-31-68-159.sslip.io
APP_FRONTEND_URL=https://144-31-68-159.sslip.io
APP_START_TEXT="Привет! Открой мини-приложение по кнопке ниже."
